target/
!.mvn/wrapper/maven-wrapper.jar

## STS ##
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

## IntelliJ IDEA ##
.idea
*.iws
*.iml
*.ipr

## JRebel ##
rebel.xml

## MAC ##
.DS_Store

## Other ##
logs/
temp/

frontend/README-zh.md

frontend/README.md

cloud/cloud-upload-service/src/test/java/com/demo/hotel/cloud/tests/UploadCloudTests.java

cloud/cloud-upload-service/src/main/java/com/demo/hotel/cloud/controller/UploadController.java

vpproject/
