<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.hotel.provider.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.demo.hotel.provider.domain.Department">
    <!--@mbg.generated generated on Mon Apr 06 14:35:23 CST 2020.-->
    <!--@Table department-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Apr 06 14:35:23 CST 2020.-->
    id, department_name, note
  </sql>
</mapper>