<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.hotel.provider.mapper.EmployeePMapper">
  <resultMap id="BaseResultMap" type="com.demo.hotel.provider.domain.EmployeeP">
    <!--@mbg.generated generated on Mon Apr 06 18:30:38 CST 2020.-->
    <!--@Table employee_p-->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="position_id" jdbcType="BIGINT" property="positionId" />
    <result column="employee_name" jdbcType="VARCHAR" property="employeeName" />
    <result column="identify" jdbcType="VARCHAR" property="identify" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="position_name" jdbcType="VARCHAR" property="positionName" />
  </resultMap>
</mapper>