<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.hotel.provider.mapper.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.demo.hotel.provider.domain.Employee">
    <!--@mbg.generated generated on Mon Apr 06 18:30:16 CST 2020.-->
    <!--@Table employee-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="position_id" jdbcType="BIGINT" property="positionId" />
    <result column="employee_name" jdbcType="VARCHAR" property="employeeName" />
    <result column="identify" jdbcType="VARCHAR" property="identify" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Apr 06 18:30:16 CST 2020.-->
    id, position_id, employee_name, identify, phone, create_time, update_time, gender, 
    birthday,status
  </sql>
</mapper>