<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.hotel.provider.mapper.PerformanceEMapper">
  <resultMap id="BaseResultMap" type="com.demo.hotel.provider.domain.PerformanceE">
    <!--@mbg.generated generated on Wed May 06 21:06:31 CST 2020.-->
    <!--@Table performance_e-->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="creat_time" jdbcType="DATE" property="creatTime" />
    <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="employee_name" jdbcType="VARCHAR" property="employeeName" />
  </resultMap>
</mapper>