<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.hotel.provider.mapper.FoodMapper">
  <resultMap id="BaseResultMap" type="com.demo.hotel.provider.domain.Food">
    <!--@mbg.generated generated on Tue Apr 28 21:21:31 CST 2020.-->
    <!--@Table food-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="food_name" jdbcType="VARCHAR" property="foodName" />
    <result column="food_number" jdbcType="INTEGER" property="foodNumber" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Apr 28 21:21:31 CST 2020.-->
    id, type_id, food_name, food_number, note
  </sql>
</mapper>