<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.hotel.provider.mapper.TrainingEcMapper">
  <resultMap id="BaseResultMap" type="com.demo.hotel.provider.domain.TrainingEc">
    <!--@mbg.generated generated on Mon Apr 06 21:19:01 CST 2020.-->
    <!--@Table training_ec-->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="training_content_id" jdbcType="BIGINT" property="trainingContentId" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="end_time" jdbcType="DATE" property="endTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="employee_name" jdbcType="VARCHAR" property="employeeName" />
  </resultMap>
</mapper>